﻿body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#navbar{
    background-color:#7db5d8;
    text-align:center;
    position:absolute;
    margin-bottom:10px;
   
}

#mainmenu {
    position:relative;
    top:1em;
   
}

.menulink a {
    color: white !important;
    font-family: 'Just Another Hand', cursive;
    text-transform:uppercase;
    font-size: 1.5em;
}

.menulink a:hover {
        color: black !important;
        
    }

#logo{
    width:100px;
}

.inprow, .inplable {
    margin-top: 10px;
    display:block;
}

.caption {
    font-weight: bold;
    text-align: center;
    background-color: #7db5d8;
    padding: 5px;
    width: 250px;
    margin: 0;
    font-size: 1.75em;
    color: white;
    text-transform: uppercase;
    font-family: 'Just Another Hand', cursive;
}

.caption a{
    color:white;
}

.capton a:hover{
    color:white;
}

.pagetitle{
    padding-top:30px;
}
h2 {
    font-family: 'Just Another Hand', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    color: #7db5d8;
}

.username{
    font-size:0.75em;
}

.delete a{
    color:red;
}
.displayPhoto {
    width: 250px;
    height: 250px;
    overflow: hidden;

}

 .displayPhoto img {
        width: 100%;
    }

#bannerimg {
    width: 1200px;
    height: auto;
 
}

.showauthor{
    text-align: center;
    font-size:1em;
    padding:0;
    margin:0;
}

#showpage{
    width:50%;
    margin:10px auto;
    text-align:center;
}


