﻿@{
    ViewBag.Title = "Home Page";
}

<div><img id="bannerimg"src="/Images/10mm-01.png"/></div>

    <div class="row">
        <div class="col-md-6">
            <h2>Welcome to 10 Minute Meals!</h2>
            <p>
                Here's a scenario you may be all too familiar with: your starving, don't know what you want to eat but know
                it needs to be ready fast and it needs to be delicious. 10 Minute Meals is here to help you solve that problem.
                We provide you with beautiful pictures and easy recipes to help inspire you to eat healthy, tasty food that's ready
                in under 10 minutes. Like how that sounds? Check out our meal ideas here:
            </p>
            <p><a class="btn btn-default" href="@Url.Action("List","FoodPhoto")">See all photos</a></p>
        </div>
        <div class="col-md-6">
            <h2>Sign Up</h2>
            <p> Got some awesome photos and recipes you want to share? Register as a new user and being uploading them today!</p>
            <p><a class="btn btn-default" href="@Url.Action("Create","User")">Sign Up!</a></p>
        </div>
     
    </div>
