﻿
@{
    ViewBag.Title = "Create";
}

<h2 class="pagetitle">New User</h2>

<form method="POST" action="/User/Create" class="form">
    <div class="inplable">Username:</div>
    <input type="text" id="UserName_New" name="UserName_New"/>
    <div class="inprow">
        <input type="submit" value="Submit"/>
    </div>


</form>

