﻿@model IEnumerable<PassionProject.Models.User>
    @{
    ViewBag.Title = "List";
    }

    <h2 class="pagetitle">All Users</h2>

    <ul>
        @foreach(var user in Model){

        <li>@Html.ActionLink(user.UserName,"Show/" + user.UserID)</li>
        }
    </ul>
