﻿@model PassionProject.Models.User

@{
    ViewBag.Title = "Show";
    int colCounter = 0;
}

<h2 class="pagetitle">@Model.UserName</h2>

<div class="container">
    @foreach (var foodphoto in Model.FoodPhotos)
    {
        if (colCounter !=0 && colCounter % 3 ==0)
        {
        @:</div>
        @:<div class="row">
        }
              <div class="col-md-4">
                  <div class="displayPhoto">
                      <img src="~/Images/@(foodphoto.ImagePath)" />
                  </div>
                  <h2 class="caption">@Html.ActionLink(foodphoto.PhotoCaption,"Show/" + foodphoto.FoodPhotoID, "FoodPhoto")</h2><br />

              </div>

        colCounter++;
    }

</div>



