﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Montserrat" rel="stylesheet">
    <link type="text/css" href="~/Content/morestyles.css" rel="stylesheet" />

</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")"><img id="logo" src="~/Images/logo.jpg"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul id="mainmenu"class="nav navbar-nav">
                    <li class="menulink">@Html.ActionLink("Upload a Photo", "Create", "FoodPhoto")</li>
                    <li class="menulink">@Html.ActionLink("All Photos", "List", "FoodPhoto")</li>
                    <li class="menulink">@Html.ActionLink("All Users", "List", "User")</li>
                    <li class="menulink">@Html.ActionLink("New User", "Create", "User")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 10 Minute Meals</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
