﻿@model IEnumerable<PassionProject.Models.User>
@{
    ViewBag.Title = "Add a new photo!";
}


    <div>
        <h2 class="pagetitle"> Add a photo</h2>
        <!--Kento helped me write this code-->
        @using (Html.BeginForm("Create/", "FoodPhoto", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="inprow">
                <label for="imgupload"> Upload your image: </label>
                <input id="ImgPath" title="Upload your image" type="file" name="file" />
            </div>
            <div class="inprow">
                <label class="inplabel">Caption</label><br />
                <input id="PhotoCaption_New" name="PhotoCaption_New" />
            </div>
            <div class="inprow">
                <label class="inplabel">Details</label><br />
                <textarea rows="4" cols="30" id="PhotoDetails_New" name="PhotoDetails_New">Recipe instructions and details...</textarea>
            </div>
            <div class="inprow">
                <label class="inplabel">Username: </label>
                <select id="UserUploader_New" name="UserUploader_New">
                    @foreach (var user in Model)
                    {
                        <option value="@user.UserID">@user.UserName</option>
                    }
                </select>
            </div>
            <div class="inprow">
                <input type="submit" value="Submit"/>
            </div>

        }
    
    </div>

