﻿@model PassionProject.Models.ViewModels.FoodPhotoEdit

@{
    ViewBag.Title = "Edit";
}

<h2 class="pagetitle">Edit</h2>


<form method="POST" action="/FoodPhoto/Edit/@Model.foodphoto.FoodPhotoID">
    <div id="showpage">

        <div class="displaySinglePhoto">
            <img src="/Images/@(Model.foodphoto.ImagePath)" />
        </div>
        <div class="inprow">
            <label class="inplabel">Caption</label>
            <input type="text" value="@Model.foodphoto.PhotoCaption" id="PhotoCaption" name="PhotoCaption" />
        </div>
        <div class="inprow">
            <label class="inplabel">Details</label><br />
                                                   <textarea rows="4" cols="30" id="PhotoDetails" name="PhotoDetails"> @Model.foodphoto.PhotoDetails</textarea>
        </div>
        <div class="inplable">Username</div>
        <select id="Username" name="Username">
            @foreach (var user in Model.users)
            {
                string current = "";
                if (user.UserID == Model.foodphoto.user.UserID)
                {
                    current = "selected";
                }

                <option value="@user.UserID" @current>@user.UserName</option>
            }
        </select>
        <div class="inprow">
            <input type="submit" value="Submit" />
        </div>
    </div>

</form>
