﻿@model IEnumerable<PassionProject.Models.FoodPhoto>
@{
    ViewBag.Title = "List";
    int colCounter = 0;
}

<div><img id="bannerimg" src="/Images/10mm-01.png" /></div>
<h2 class="pagetitle">10 Minute Meal Ideas!</h2>


<!--Used this tutorial to help use bootstrap grid within a foreach loop https://www.jerriepelser.com/blog/approaches-when-rendering-list-using-bootstrap-grid-system/ -->
<div class="container">
    @foreach (var foodphoto in Model)
    {
        if (colCounter != 0 && colCounter % 3 == 0)
        {
        @:</div>
        @:<div class="row">
        }
              <div class="col-md-4">
                  <div class="displayPhoto">
                      <img src="/Images/@(foodphoto.ImagePath)" />
                  </div>
                  <h2 class="caption">@Html.ActionLink(foodphoto.PhotoCaption,"Show/" + foodphoto.FoodPhotoID)</h2><br />
                  <span class="username">@foodphoto.user.UserName</span><br />  
                  <span class="edit">@Html.ActionLink("Edit", "Edit/" + foodphoto.FoodPhotoID) | </span>
                  <span class="delete">@Html.ActionLink("Delete", "Delete/" + foodphoto.FoodPhotoID)</span>

              </div>

        colCounter++;
    }

</div>

