﻿@model PassionProject.Models.FoodPhoto

@{
    ViewBag.Title = "Show";
}

<h2 class="pagetitle">@Model.PhotoCaption</h2>
<h3 class="showauthor">@Html.ActionLink(Model.user.UserName,"Show/" + Model.user.UserID, "User")</h3>

<div id="showpage">
    <div class="displaySinglePhoto">
        <img src="/Images/@(Model.ImagePath)" />
    </div>
    <p>@Model.PhotoDetails</p>
    <span class="edit">@Html.ActionLink("Edit", "Edit/" + Model.FoodPhotoID) | </span>
    <span class="delete">@Html.ActionLink("Delete", "Delete/" + Model.FoodPhotoID)</span>
</div>



